<div class="footer_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="address_text">Address</h1>
          <div class="location_text"><a href="#"><img src="images/map-icon.png"><span class="padding_left_15">89, Green Road, Dhaka</span></a></div>
          <div class="location_text"><a href="#"><img src="images/call-icon.png"><span class="padding_left_15">( +880 1911555084 )</span></a></div>
          <div class="location_text"><a href="#"><img src="images/mail-icon.png"><span class="padding_left_15">Locations</span></a></div>
        </div>
        <div class="col-md-4">
          <h1 class="address_text">Social link</h1>
          <div class="location_text"><a href="#"><img src="images/fb-icon.png"><span class="padding_left_15">Facebook</span></a></div>
          <div class="location_text"><a href="#"><img src="images/twitter-icon.png"><span class="padding_left_15">Twitter</span></a></div>
          <div class="location_text"><a href="#"><img src="images/instagram-icon.png"><span class="padding_left_15">Instagram</span></a></div>
          <div class="location_text"><a href="#"><img src="images/Linkedin-icon.png"><span class="padding_left_15">Linkedin</span></a></div>
        </div>
        <div class="col-md-4">
          <h1 class="address_text">Newsletter</h1>
          <input type="text" class="enter_text" placeholder="Enter Your Email">
          <div class="subscribe_bt"><a href="#">subscribe</a></div>
        </div>
      </div>
    </div>
  </div>
  <!--footer section end -->
  <!--copyright section start -->
  <div class="copyright_section">
    <p class="copyright_text">NodeJs Application Developed by Mohiuddin Bhuiyan</p>
  </div>
  <!--copyright section end -->
  <!-- Javascript files-->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/jquery-3.0.0.min.js"></script>
  <script src="js/plugin.js"></script>
  <!-- sidebar -->
  <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="js/product.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/search_product.js"></script>
  <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


</body>
</html>